.row-fluid
  .row.heading.span11
    %h1.span10 Bro's happenings...
    = link_to 'New post', new_blog_post_path, class: "btn btn-default pull-right"
      
  .row.span11
    %ul.posts
      - @blog_posts.each do |blog_post|
        %li
          .row
            %h2.span9
              %span.icon-quote-left
              = majusculize blog_post.title
      
            .controls.span2
              = link_to content_tag( :i, "", class: 'icon-pencil'), edit_blog_post_path(blog_post), 
                class:  "btn", id: "ed_#{dom_id(blog_post)}"
              = link_to content_tag( :i, "", class: 'icon-trash'), blog_post, 
                method: :delete, 
                data:   {confirm: 'Are you sure?'}, 
                class:  "btn", id: "del_#{dom_id(blog_post)}"
             
          .row 
            .timestamp= time_ago_in_words( blog_post.created_at )
        
          .row
            .content.rounded= blog_post.content
                  
          %div.comments{ 'id' => "comments_#{dom_id(blog_post)}" }
            .summary{ 'id' => "summary_#{dom_id(blog_post)}", 'data-id'=>blog_post.id }
              %span.icon-comments
              %span.comment-count{ 'data-id'=>blog_post.id }= blog_post.comments.size
              %span= 'comment'.pluralize( blog_post.comments.size)
            %ul.comments{ 'data-id'=>blog_post.id, style:'display:none' }
              = render blog_post.comments.sort { |a,b| b.created_at <=> a.created_at }
              = render partial: 'comments/form', locals: { blog_post: blog_post }